h1 {
	color: purple;
	font-size: 60px;
}

#canoe-photo {
	width: 200px;
}

.special {
	color: teal;
	font-size: 30px;
	border: 1px solid teal;
}

input[type='password'] {
	height: 50px;
	width: 100px;
}

.todo {
	font-size: 30px;
	color: green;
}

.done {
	color: gray;
	text-decoration: line-through;
	opacity: 50%;
}
