<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head.ejs') %>

	<body>
		<%- include('partials/nav.ejs') %>

		<div class="about content">
			<h2>About Us</h2>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illum
				magnam labore tenetur porro, aliquam recusandae, omnis repellendus
				commodi laudantium expedita nemo molestias unde dolor ullam dicta ipsum!
				Delectus, soluta?
			</p>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illum
				magnam labore tenetur porro, aliquam recusandae, omnis repellendus
				commodi laudantium expedita nemo molestias unde dolor ullam dicta ipsum!
				Delectus, soluta?
			</p>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente illum
				magnam labore tenetur porro, aliquam recusandae, omnis repellendus
				commodi laudantium expedita nemo molestias unde dolor ullam dicta ipsum!
				Delectus, soluta?
			</p>
		</div>
		<%- include('partials/footer.ejs') %>
	</body>
</html>
